<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>simple</servlet-name>
        <servlet-class>my.nosql.httpclient.Simple</servlet-class>
        <init-param>
            <param-name>webApplicationName</param-name>
            <param-value>/nosql-datastore/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>transactional</servlet-name>
        <servlet-class>my.nosql.httpclient.Transactional</servlet-class>
        <init-param>
            <param-name>webApplicationName</param-name>
            <param-value>/nosql-datastore/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>simple</servlet-name>
        <url-pattern>/put/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>simple</servlet-name>
        <url-pattern>/get/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>simple</servlet-name>
        <url-pattern>/src/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>simple</servlet-name>
        <url-pattern>/del/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactional</servlet-name>
        <url-pattern>/tput/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactional</servlet-name>
        <url-pattern>/tget/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactional</servlet-name>
        <url-pattern>/tsrc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactional</servlet-name>
        <url-pattern>/tbeg/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactional</servlet-name>
        <url-pattern>/trol/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactional</servlet-name>
        <url-pattern>/tcom/*</url-pattern>
    </servlet-mapping>
</web-app>