/.classpath
/.project
/.settings
/.git
/target

/antlr-resource-path/target
/antlr-resource-path/.classpath
/antlr-resource-path/.project
/antlr-resource-path/.settings

/cassandra-rest/target
/cassandra-rest/.classpath
/cassandra-rest/.project
/cassandra-rest/.settings

/discussion-site/target
/discussion-site/.classpath
/discussion-site/.project
/discussion-site/.settings

/random/target
/random/.classpath
/random/.project
/random/.settings

/warehouse-webapp/target
/warehouse-webapp/.classpath
/warehouse-webapp/.project
/warehouse-webapp/.settings

/webflow-xquery/target
/webflow-xquery/.classpath
/webflow-xquery/.project
/webflow-xquery/.settings
