<configuration>

    <if condition='isNull("LOG_DIR")'>
        <then>
            <property name="LOG_DIR" value="logs" />
        </then>
    </if>

    <if condition='isNull("LOG_ROLL_SIZE")'>
        <then>
            <property name="LOG_ROLL_SIZE" value="500MB" />
        </then>
    </if>

    <appender name="CommonLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/mbusWebService.%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${LOG_ROLL_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c{1} %m%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c{1} %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CommonLog" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>