<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="unittests">
    <test name="UnitTest">
        <groups>
            <run>
                <include name="unit" />
                <include name="jms" />
                <include name="web" />
            </run>
        </groups>
        <classes>
            <!--<class name="com.comcast.xcal.mbus.resourceebServiceParamValidationTest" />-->
            <!--<class name="com.comcast.xcal.mbus.util.JMSBridgeTest" />-->
            <!--<class name="com.comcast.xcal.mbus.client.BlackboxTest" />-->
        </classes>
    </test>
</suite>